* {
  box-sizing: border-box;
}

html{
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  background-color: #233237;
}

article h1{
  font-size: 25px;
}

article h2{
  font-size: 20px;
}

header {
  background-color: #18121E;
  padding: 50px 30px;
  text-align: center;
  font-style: underline;
  font-size: 30px;
  color: white;
}

section {
  display: -webkit-flex;
  display: flex;
}

aside{
  white-space: nowrap;
  width:250px;
  padding: 0px 5px;
  text-align: center;
  background-color: #233237;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
}

aside table, td{
  background-color: #233237;
  float: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  overflow: hidden;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

aside a{
  color: #f2f2f2;
  display: inline-block;
  display: block;
  padding: 10px 5px;
}

aside p{
  color: white;
  text-decoration: underline;
  text-decoration-color: white;
}

aside td.current{
  background-color: #984B43;
  color: white;
}

aside td:hover{
  background-color: #0b5166;
}

pre.codeSample {
  font-family:monospace,monospace;
  font-size:1em;
  white-space: pre-wrap;
  background-color: #000;
  color: #FFF;
  border-radius: 4px;
}

pre.interactive{
  font-family:monospace,monospace;
  font-size:1em;
  white-space: pre-wrap;
  color: black;
  background-color: #FFF;
  border:2px solid Black;
}

iframe.answers{
  display: none;
  border: none;
  width:100%;
  height: 500px;
}

nav {
  position: fixed;
  top:0;
  width: 100%;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: #18121E;
  padding:  20px 5px;
  display: block;
  opacity: 1;
  -webkit-transition: opacity 0.25s;
  transition: opacity 0.25s;
}

nav:hover{
  opacity:1 !important;
}

nav button.menubutton{
  outline: none;
  border: none;
  width: 30px;
  height: 30px;
  background: url(menu.png);
  background-size: contain;
  padding:10px;
}

nav a{
  background-color: #18121E;
  float: none;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  border-radius: 8px;
  font-size: 15px;
  overflow: hidden;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

nav p {
  float: left;
  padding: 1px 5px;
}

nav a:hover {
  background-color: #181856;
  text-decoration: underline;
}

nav a.current {
  background-color: #EAC67A;
}

article {
  background-position: center;
  background-size: cover;
  border-radius: 8px;
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #c5cbe3;
  padding: 10px;
  background-image: url(background.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background-color: #233237;
  padding: 10px;
  text-align: center;
  color: white;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
